@using System.Globalization;
@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Admin Panel";
}


<div class="container p-3">
	<form class="d-flex mt-3 mb-5 w-50 mx-auto" role="search">
		<input class="form-control me-2" type="search" name="q" placeholder="Məhsul axtar..." aria-label="Search">
		<button class="btn btn-primary" type="submit">Axtar</button>
	</form>
	<a class="btn btn-primary mb-5" asp-controller="home" asp-action="create">Yeni məhsul əlavə et</a>
	<table class="table table-sm">
		<thead>
			<tr>
				<th>Id</th>
				<th>Məhsul adı</th>
				<th>Açıqlama</th>
				<th>Qiymət</th>
				<th>Daxilolma tarixi</th>
				<th>Tərketmə tarixi</th>
				<th>Kateqoriya</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Name</td>
					<td>@item.Description</td>
					<td>@item.Price AZN</td>
					@if (item.ExDate != null)
					{
						<td>@(((DateTime)item.ExDate).ToString("d MMM, yyyy HH:mm", new CultureInfo("az-AZ")))</td>
					}
					else
					{
						<td>@item.ExDate</td>
					}
					@if (item.Date!=null)
					{
						<td><span class="badge rounded-pill badge-success">@(((DateTime)item.Date).ToString("d MMM, yyyy HH:mm", new CultureInfo("az-AZ")))</span></td>
					}
					else
					{
						<td><span class="badge rounded-pill badge-warning">Anbarda</span></td>
					}
					<td>@item.Category</td>
					<td>
						<a class="btn btn-warning me-2 btn-sm" asp-controller="home" asp-action="update" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i> Redaktə</a>
						<a class="btn btn-danger btn-sm" asp-controller="home" asp-action="delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i> Sil</a>
					</td>
				</tr>
			}

		</tbody>
	</table>
</div>
