@using EFCore.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Admin Panel";
}


<div class="container p-3">
	<form class="d-flex mt-3 mb-5 w-50 mx-auto" role="search">
		<input class="form-control me-2" type="search" name="q" placeholder="Məhsul axtar..." aria-label="Search">
		<button class="btn btn-primary" type="submit">Axtar</button>
	</form>
	<a class="btn btn-primary mb-5" asp-controller="Home" asp-action="Create">Yeni məhsul əlavə et</a>
	<table class="table table-sm">
		<thead>
			<tr>
				<th>Id</th>
				<th>Məhsul adı</th>
				<th>Açıqlama</th>
				<th>Qiymət</th>
				<th>Kateqoriya</th>
				<th>Vəziyyət</th>
				<th>Əlavə</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Name</td>
					<td>@item.Description</td>
					<td>@item.Price AZN</td>
					<td>@item.Category</td>
					<td>
						@if (item.State == "Xarici anbarda")
						{
							<span class="badge rounded-pill bg-secondary">@item.State</span>
						}
						else if (item.State == "Bəyan gözlənilir")
						{
							<span class="badge rounded-pill bg-danger">@item.State</span>
						}
						else if (item.State == "Gömrük yoxlanışı")
						{
							<span class="badge rounded-pill bg-primary">@item.State</span>
						}
						else if (item.State == "Çeşidlənir")
						{
							<span class="badge rounded-pill bg-warning">@item.State</span>
						}
						else
						{
							<span class="badge rounded-pill bg-success">@item.State</span>
						}
					</td>
					<td>
						<a class="btn btn-warning btn-sm" asp-controller="Home" asp-action="Update" asp-route-id="@item.Id">Update</a>
						<a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}

		</tbody>
	</table>
</div>
