@model ProductViewModel
@{
	ViewData["Title"] = "Redaktə";
}

<h1 class="mb-5">Redaktə et</h1>

<form asp-controller="Home" asp-action="Update" method="post">
	<div class="mb-3 row">
		<label for="inputN" class="col-sm-2 col-form-label">Məhsul adı</label>
		<div class="col-sm-10">
			<input type="text" asp-for="Name" value="@Model.Name" class="form-control" id="inputN">
		</div>
	</div>
	<div class="mb-3 row">
		<label for="inputD" class="col-sm-2 col-form-label">Açıqlama</label>
		<div class="col-sm-10">
			<input type="text" asp-for="Description" value="@Model.Description" class="form-control" id="inputD">
		</div>
	</div>
	<div class="mb-3 row">
		<label for="inputC" class="col-sm-2 col-form-label">Qiymət</label>
		<div class="col-sm-10">
			<input type="text" asp-for="Price" min="0" value="@Model.Price" class="form-control" id="inputC">
		</div>
	</div>
	<div class="mb-3 row">
		<label asp-for="ExDate" class="col-sm-2 col-form-label">Daxilolma tarixi</label>
		<div class="col-sm-10">
			<input asp-for="ExDate" class="form-control">
		</div>
	</div>
	<div class="mb-3 row">
		<label asp-for="Date" class="col-sm-2 col-form-label">Tərketmə tarixi</label>
		<div class="col-sm-10">
			<input asp-for="Date" class="form-control">
		</div>
	</div>
	<div class="mb-3 row">
		<label for="inputCa" class="col-sm-2 col-form-label">Kateqoriya</label>
		<div class="col-sm-10">
			<select asp-for="Category" asp-items="@ViewBag.Categories" class="form-control">
				<option selected disabled>@Model.Category</option>
			</select>
		</div>
	</div>
	<div class="mb-3 row">
		<label for="inputSu" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<input type="submit" class="btn btn-primary" value="Yenilə" id="inputSu" />
		</div>
	</div>
</form>
